/* styles.css */

body {
    font-family: 'Poppins', sans-serif;
  }
  
  .container {
    margin-top: 5rem;
  }
  .heading-col {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 10px;
  }

  h1 {
    margin-bottom: 0; 
  }

  .img-fluid {
    margin-right: 10px; 
    padding-left: 7px; 
  }
  body {
    background-color: #f8f9fa; 
}

.custom-container {
    background-color: #ffffff4f; 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-top: 50px; 
}

.custom-container img {
    border-radius: 8px; 
}

.loadingContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#container {
  width: 200px;
  height: 200px;
}

@keyframes animation {
  0% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -105;
  }
  50% {
    stroke-dasharray: 80 10;
    stroke-dashoffset: -160;
  }
  100% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -300;
  }
}

#spinner {
  transform-origin: center;
  animation-name: animation;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier;
  animation-iteration-count: infinite;
}